<!DOCTYPE html>
<html>
<head>
  <title>Debt List - Search</title>
  <link rel="stylesheet" href="search.css">
</head>

<body>

    <nav id="primary_nav_wrap">
      <ul>
        <li>
          <a href="#" class="nt">
            <div></div><div></div><div></div>
          </a>
          <ul>
            <li><a href="/">Add</a></li>
            <li><a href="/search">Search</a></li>
          </ul>
        </li>
      </ul>
    </nav>




    <div class="form-wrapper cf">
      <input id="name" type="text" autocomplete="off" placeholder="Search here..." required>
      <!--<button type="submit">Search</button>-->
    </div>


  <div id="display">.....</div>

</body>

<script src="search.js"></script>
</html>
